.book-name,
.author {
  font-size: 15px;
  font-weight: lighter;
}

.book {
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
}

.book > div {
  display: flex;
  align-items: center;
}

.adding-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin: 20px auto;
  height: 100px;
  width: 50%;
}

.adding-form > button {
  align-self: flex-end;
}

.title {
  text-align: center;
}

.books-list {
  border: solid black 3px;
  padding: 25px 0.5%;
}

.flexing {
  display: flex;
  align-items: center;
}

.flexing > span {
  margin: 0 15px 0 15px;
}

.add_book_header {
  border-top: solid black 3px;
  padding-top: 15px;
  width: 10%;
  margin: 20px auto 0 auto;
  text-align: center;
}

.input_form {
  border: solid grey 2px;
}