.book-name,
.author {
  font-size: 15px;
  font-weight: lighter;
}

.book {
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}

.adding-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin: 20px 0;
  height: 100px;
  width: 50%;
}

.adding-form > button {
  align-self: flex-start;
}
